* {
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background-color: rgb(39, 135, 42);
    font-size: 2.6rem;
    font-family: 'Patrick Hand', cursive;
}

main {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    text-align: center;
}

.screen {
    height: 800px;
    border: 1px solid #000000;
    background-color: #0e8ecc;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.7);
}

#splash_screen {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.2));
}

.instructions {
    border: 1px solid #000000;
    margin-top: 30px;
    background-color: rgb(63, 161, 66);
    box-shadow: inset 0 0 10px rgba(0,0,0,0.7);
}

.instructions ol {
    text-align: left;
}

#game {
    display: none;
}

#game_screen {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#player_score, #game_timer {
    margin: 10px 20px;
    font-size: 4rem;
}

#top_bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.play_button {
    font-size: 4rem;
    border-radius: 50%;
    border: none;
    background-size: cover;
    background-image: url(../lilypad-green.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    height: 200px;
    width: 200px;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
}

.instructions {
    border: 1px solid #000000;
    margin-top: 30px;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.2));
}

.instructions ol {
    text-align: left;
}

.clicked {
    color: #AAAAAA;
}

#play_area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
}

.placeholder {
    width: 25%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    color: transparent;
}

.numberBox {
    font-size: 6rem;
    border: none;
    background-size: cover;
    background-image: url(../lilypad-green.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
}

.numberBox.clicked:hover {
    cursor: not-allowed;
}

.numberBox:hover {
    cursor: pointer;
}

.clicked {
    color: #AAAAAA;
}

#penaltyScreen {
    background-color: #cc0000;
    flex-grow: 1;
    font-size: 6rem;
    display: none;
    justify-content: center;
    align-items: center;
}

#game_over {
    font-size: 4rem;
    margin-top: 30px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#score_box, .play_button, h2 {
    margin: 40px;
}