* {
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

main {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    text-align: center;
}

.screen {
    height: 800px;
    border: 1px solid #000000;
}

#splash {
    display: flex;
    justify-content: center;
    align-items: center;
}

#game {
    display: none;
}

#game_screen {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#top_bar {
    border: 1px solid #000000;
}

#player_score, #game_timer {
    margin: 0 20px;
    font-size: 2rem;
}

#top_bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.play_button {
    padding: 40px 80px;
    font-size: 2.5rem;
}

.instructions {
    border: 1px solid #000000;
    margin-top: 30px;
}

.instructions ol {
    text-align: left;
}

#play_area {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.numberBox {
    font-size: 6rem;
}

#penaltyScreen {
    background-color: #cc0000;
    flex-grow: 1;
    font-size: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

#game_over {
    font-size: 4rem;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    display: none;
}
