* {
    box-sizing: border-box;
}

main {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    text-align: center;
}

.screen {
    height: 800px;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
